pkgbase = mo2-lint
	pkgdesc = Mod Organizer 2 Linux Installer
	pkgver = 7.0.0rc6
	pkgrel = 1
	url = https://github.com/Furglitch/modorganizer2-linux-installer
	arch = x86_64
	license = GPL-3.0-only
	makedepends = curl
	makedepends = make
	makedepends = unzip
	makedepends = uv
	makedepends = wget
	makedepends = wine
	makedepends = wine-mono
	depends = procps-ng
	depends = xdg-utils
	optdepends = steam: Steam games support
	optdepends = protontricks: external Protontricks support
	optdepends = winetricks: external Winetricks support
	source = mo2-lint-7.0.0-rc6.tar.gz::https://github.com/Furglitch/modorganizer2-linux-installer/archive/refs/tags/7.0.0-rc6.tar.gz
	sha256sums = 96145b04c4dd2328060998fc92768feda56e532508917922ddb6705c4512114b

pkgname = mo2-lint
